<strong>Olá {{student}} </strong>
<p>Seu pedido de auxílio foi respondido.</p>
<spam>Confira abaixo as informações</spam>
<p>
  Pergunta: {{question}}
</p>
<p>Resposta: {{answer}}</p>
<p>Respondido em: {{answer_at}}</p>
